body {
    color: #A0A0A0; /* Svart bakgrund */
    height: 100vh; /* Ange kroppens höjd till 100% av fönstret */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrera vertikalt */
    align-items: flex-start; /* Vänsterjustera innehållet */
    margin-left: 50px; /* Lägg till en vänstermarginal om så önskas */
}

.identifera-svamp {
    color: #9900FF; /* Standard textfärg (röd) */
    display: block; /* Göra elementen block så att de är under varandra */
    margin: 10px 0; /* Mellanrum mellan elementen */
    text-decoration: none; /* Ta bort linjerna under texten */
    font-size: 100px; /* Större textstorlek (justera värdet efter dina preferenser) */
    transition: color 0.3s; /* Lägg till en smidig övergång för färgändring */
}

.identifera-svamp:hover {
    color: #00FF00; /* Ändra färgen till violett vid hovring */
}

.svat_vit {
    filter: grayscale(100%); /* Konvertera bilden till svartvitt */
    width: 20%;
    max-width: 50%; /* Justera bildens bredd */
    position: absolute; /* Placera bilden i absolut position */
    right: 100; /* Justera den till höger */
    top: 50; /* Justera den uppåt */
    opacity: 0.7; /* Ange opacitet för suddningseffekten */
}