body {
    color: #A0A0A0; /* Svart bakgrund */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrera vertikalt */
    align-items: flex-start; /* Vänsterjustera innehållet */
    margin-left: 50px; /* Lägg till en vänstermarginal om så önskas */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FAD6A5;
}

.identifera-svamp {
    color: #5D8450; /* Standard textfärg (röd) */
    display: block; /* Göra elementen block så att de är under varandra */
    margin: 10px 0; /* Mellanrum mellan elementen */
    text-decoration: none; /* Ta bort linjerna under texten */
    font-size: 100px; /* Större textstorlek (justera värdet efter dina preferenser) */
    transition: color 0.3s; /* Lägg till en smidig övergång för färgändring */
}

.identifera-svamp:hover {
    color: #ffffff; /* Ändra färgen till violett vid hovring */
}

.svat_vit {
    filter: grayscale(100%); /* Konvertera bilden till svartvitt */
    width: 20%;
    max-width: 50%; /* Justera bildens bredd */
    position: absolute; /* Placera bilden i absolut position */
    right: 100; /* Justera den till höger */
    top: 50; /* Justera den uppåt */
    opacity: 0.7; /* Ange opacitet för suddningseffekten */
}


p {
    color: black;
    font-size: large;
}

h1 {
    color: #9900FF;
    font-size: 100;

    
}

h2 {
    color: #9900FF;
    font-size: 25;
 
    
}

p {
    font-size: 20;
}
footer {
    color: #9900FF;
}

a {
    color: #5D8450; /* Färg för textlänkar */
    text-decoration: none; /* Ta bort understrykning från textlänkar */
    padding: 10px 20px; /* Lägg till utfyllnad för knappform */
    background-color: white; /* Bakgrundsfärg för knapp */
    border: 2px solid black; /* Kantlinje för knapp */
    border-radius: 5px; /* Rundade hörn för knapp */
    display: inline-block; /* Visa länken som en block för att kunna justera storlek och utfyllnad */
    margin: 10px; /* Utrymme mellan länkarna */
    font-weight: bold; /* Fetstil text */
    margin: 20px;
    cursor: pointer;
    padding: 10px 20px;

}

a:hover {
    background-color: #5D8450; /* Bakgrundsfärg för länken vid hovring */
    color: #ffffff; /* Färg för text vid hovring */
}