<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SvampPro</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <style>
        /* CSS styles to control image size */
        .image-container {
            width: 200px; /* Adjust the width as needed */
            height: 200px; /* Adjust the height as needed */
            overflow: hidden;
        }
        .image-container img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto;
        }
    </style>

</head>
<body>
    <header>
        <h1>SvamPro</h1>
    </header>

    <div>
        <form action="/add-choice" method="POST" enctype="multipart/form-data">
            <input type="text" id="svamp" name="svamp" placeholder="choose name for svamp">
            <br><input type="radio" id="poison" name="poison" value="Giftig">
            <br><input type="file" name="image" accept="image/*" required>
            <br><input type="text" id="filter" name="filter" placeholder="choose filter for svamp">
            <br><button type="submit">Submit</button>

        </form>
    </div>
    <div>
        <ul>
        {% for mushroom in mushrooms %}
            <li>
                <div class="image-container">
                    <h2>{{ mushroom.name }}</h2>
                    <p>Traits: {{ mushroom.traits }}</p>
                    <img src="data:image/jpeg;base64,{{ mushroom.get_image_data() | base64_encode }}" alt="{{ mushroom.name }}">
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>

</body>
</html>
