<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SvampPro</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

</head>
<body>
    <header>
        <h1>SvamPro</h1>
    </header>

    <div>
        <form action="/add-choice" method="POST">
            <input type="text" id="svamp" name="svamp" placeholder="choose name for svamp">
            <br><input type="text" id="giftig" name="giftig" placeholder="choose status for svamp">
            <br><input type="text" id="img_nanm" name="img_nanm" placeholder="choose img_nanm for svamp">
            <br><input type="text" id="filter" name="filter" placeholder="choose filter for svamp">
            <br><button type="submit">Submit</button>

        </form>
    </div>

</body>
</html>
