<!DOCTYPE html>
<html>
<head>
    <title>Bildklassificering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/min_svamp_css.css')}}">
    <style>
        h3 {
        text-align: center;
        color: #9900FF;
        }
    </style>
</head>
<body>
    <h1>Bildklassificering</h1>
    <a href="/mainpage" class="identifera-svamp">Startsida</a>
    <a href="/galleri" class="identifera-svamp">Galleri</a>

    <div class="AI-info">
        <p>Denna AI-model kan gissa om det är en kantarell eller en flugsvamp på en bild.</p>
        <p>Gör så här: klicka på "välj fil" och välj en bild på en kantarell eller en flugsvamp och sedan klicka på "Ladda upp" knappen nedan.</p>
    </div>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="input_img" name="file" accept="image/*" />
        <input type="submit" value="Ladda upp" />
    </form>

    <div>
        <h3 id="prediction"></h3>
        <img src="" id="uploaded-image" style="display: none; max-width: 300px;">
    </div>

    <div class="AI-info">
        <p><b>Tip:</b> Om du använder mobilen kan du ta en bild med kameran och ladda upp.</p>
    </div>

    <script>
        const form = document.querySelector('form');
        const predictionElement = document.getElementById('prediction');
        const imageElement = document.getElementById('uploaded-image');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            const formData = new FormData(form);
            try {
                const response = await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();
                predictionElement.textContent = `Förutspådd svamp: ${data.class}`;
                imageElement.style.display = 'block';
                imageElement.src = URL.createObjectURL(formData.get('file'));
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>
