<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Svampro</title>
</head>
<body>
    <h1>Svampro Galleri</h1>
    <img src="https://www.nrm.se/images/18.256c741a174b157abc328cf5/1601988334848/Kantarell%20515x515.jpg" alt="">
    <img src="https://www.nrm.se/images/18.256c741a174b157abc328cf8/1601988334996/L%C3%B6msk%20flugsvamp%20515x515.jpg" alt="">
    <img src="https://www.nrm.se/images/18.256c741a174b157abc328cfa/1601988335089/Stolt%20fj%C3%A4llskivling%20515x515.jpg" alt="">
    <img src="https://www.nrm.se/images/18.256c741a174b157abc328cf7/1601988334952/Koralltaggsvamp%20515x515.jpg" alt="">

</body>
</html>