<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Svampro</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    
</head>

<body>
    <h1>Svampro - för roligare och säkrare svampplockning</h1>
    <br>
    <p>Välkommen till vår webbplats som är skapad för att hjälpa dig att identifiera om en svamp är giftig eller inte. Svampar kan vara en fantastisk källa till näring och smak, men vissa kan också vara farligt giftiga. Med vår webbplats kan du söka efter svampar med hjälp av vårat formulär (tryck på 'Identifera Svamp') eller få en överblick på svampar i vårat galleri (tryck på 'Galleri'). Där du får snabb info om svampen är giftig eller ej!</p>

    <a href="/min_svamp" class="identifera-svamp">#Identifera Svamp</a>
    <a href="/galleri" class="identifera-svamp">#Galleri</a>
    <!-- <a href="/dagens_svamp" class="identifera-svamp">#Dagens Svamp</a> -->
    <!-- <a href="/dagens_svamp" class="identifera-svamp">#Chatbot AI</a> -->

    <img src="{{ url_for('static', filename='pics/flugsvamp.png') }}" alt="mainPageImage" class="svat_vit">


</body>
</html>