<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Svampro</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    
</head>

<body>

    <a href="/min_svamp" class="identifera-svamp">#Identifera Svamp</a>
    <a href="/galleri" class="identifera-svamp">#Galleri</a>
    <a href="/dagens_svamp" class="identifera-svamp">#Chatbot AI</a>


    <img src="{{ url_for('static', filename='images/svamp.png') }}" alt="Imagen 1" class="svat_vit">


</body>
</html>