<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SvampPro</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

</head>
<body>
    <header>
        <h1>SvampPro</h1>
        <input type="text" id="searchInput" placeholder="Sök efter beskrivning...">
        <button onclick="search()">Sök</button>
    </header>
    <main>
        <div id="champinonesList" class="champinones-container"></div>
    </main>
    <script src="script.js"></script>
    <script src="{{ url_for('static', filename='my_script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <div id="champinonesList" class="champinones-container>
        <form action="/add-choice" method="POST">
            <input type="text" id="svamp" name="svamp" placeholder="choose name for svamp">
            <input type="text" id="giftig" name="giftig" placeholder="choose status for svamp">
            <input type="text" id="img_nanm" name="img_nanm" placeholder="choose img_nanm for svamp">
            <input type="text" id="filter" name="filter" placeholder="choose filter for svamp">
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>
