<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Example</title>
    <style>
    </style>
</head>
<body>


  <!-- Here are the beta testing forms fields -->
  <!-- the categories for each filed (form options) needs to be expanded!!! -->
<div>
<form method="post">

  <fieldset>
    <legend>Färg</legend>
    <input type="radio" id="brun" name="färg" value="brun">
    <label for="brun">Brun</label>
    <input type="radio" id="blue" name="färg" value="FYLL I!">
    <label for="blue">FYLL I!</label>
    <input type="radio" id="green" name="färg" value="FYLL I!">
    <label for="green">FYLL I!</label>
    <input type="radio" id="other" name="färg" value="FYLL I!">
    <label for="other">FYLL I!</label>
    <input type="radio" id="inget/annat" name="färg" value="inget/annat">
    <label for="inget/annat">Inget/Annat</label>
  </fieldset>

  <fieldset>
    <legend>Hatt</legend>
    <input type="radio" id="välvd" name="hatt" value="välvd">
    <label for="välvd">Välvd</label>
    <input type="radio" id="blue" name="hatt" value="FYLL I!">
    <label for="blue">FYLL I!</label>
    <input type="radio" id="green" name="hatt" value="FYLL I!">
    <label for="green">FYLL I!</label>
    <input type="radio" id="other" name="hatt" value="FYLL I!">
    <label for="other">FYLL I!</label>
    <input type="radio" id="inget/annat" name="hatt" value="inget/annat">
    <label for="inget/annat">Inget/Annat</label>
  </fieldset>

  <fieldset>
    <legend>Skivor</legend>
    <input type="radio" id="nedlöpande" name="skivor" value="nedlöpande">
    <label for="nedlöpande">Nedlöpande</label>
    <input type="radio" id="rör" name="skivor" value="rör">
    <label for="rör">Rör</label>
    <input type="radio" id="green" name="skivor" value="FYLL I!">
    <label for="green">FYLL I!</label>
    <input type="radio" id="other" name="skivor" value="FYLL I!">
    <label for="other">FYLL I!</label>
    <input type="radio" id="inget/annat" name="skivor" value="inget/annat">
    <label for="inget/annat">Inget/Annat</label>
  </fieldset>

  <fieldset>
    <legend>Fot</legend>
    <input type="radio" id="luddig" name="fot" value="luddig">
    <label for="luddig">Luddig</label>
    <input type="radio" id="tofsig" name="fot" value="tofsig">
    <label for="tofsig">Tofsig</label>
    <input type="radio" id="green" name="fot" value="FYLL I!">
    <label for="green">FYLL I!</label>
    <input type="radio" id="other" name="fot" value="FYLL I!">
    <label for="other">FYLL I!</label>
    <input type="radio" id="inget/annat" name="fot" value="inget/annat">
    <label for="inget/annat">Inget/Annat</label>
  </fieldset>

  <fieldset>
    <legend>Ring</legend>
    <input type="radio" id="pruinös" name="ring" value="pruinös">
    <label for="pruinös">Pruinös</label>
    <input type="radio" id="red" name="ring" value="FYLL I!">
    <label for="FYLL I!">FYLL I!</label>
    <input type="radio" id="green" name="ring" value="FYLL I!">
    <label for="green">FYLL I!</label>
    <input type="radio" id="other" name="ring" value="FYLL I!">
    <label for="other">FYLL I!</label>
    <input type="radio" id="inget/annat" name="ring" value="inget/annat">
    <label for="inget/annat">Inget/Annat</label>
  </fieldset>

  <fieldset>
    <legend>Strumpa</legend>
    <input type="radio" id="FYLL I!" name="strumpa" value="FYLL I!">
    <label for="FYLL I!">FYLL I!</label>
    <input type="radio" id="red" name="strumpa" value="FYLL I!">
    <label for="tofsig">FYLL I!</label>
    <input type="radio" id="green" name="strumpa" value="FYLL I!">
    <label for="green">FYLL I!</label>
    <input type="radio" id="other" name="strumpa" value="FYLL I!">
    <label for="other">FYLL I!</label>
    <input type="radio" id="inget/annat" name="strumpa" value="inget/annat">
    <label for="inget/annat">Inget/Annat</label>
  </fieldset>

  <fieldset>
    <legend>Lukt</legend>
    <input type="radio" id="FYLL I!" name="lukt" value="FYLL I!">
    <label for="FYLL I!">FYLL I!</label>
    <input type="radio" id="red" name="lukt" value="FYLL I!">
    <label for="tofsig">FYLL I!</label>
    <input type="radio" id="green" name="lukt" value="FYLL I!">
    <label for="green">FYLL I!</label>
    <input type="radio" id="other" name="lukt" value="FYLL I!">
    <label for="other">FYLL I!</label>
    <input type="radio" id="inget/annat" name="lukt" value="inget/annat">
    <label for="inget/annat">Inget/Annat</label>
  </fieldset>



  <input type="submit" value="Find your mushroom">
</form>
</div>




<!--
    This jinja block checks if a form has just been submitted
    Then it checks if the mushrooms list is empty (if the form got any resutls from the database)
    If the form got any result then that mushroom poison status is dispalyed as well as the corresponding mushroom images. The images are made into a hyperlink which when clicked takes the user to the result endpoint/html (we can disable the hyperlinks if we dont want to use them for the MVP)
    If the form does not get any results from the database or the user visits the site for the first time, they will see a starter image and get a suitable message (we could use flask's MESSEGES here)
-->
{% if form_submitted %}
  {% if mushrooms %}
    {% for mushroom in mushrooms %}
      <p> {{ mushroom.namn }} </p>

      {% for img in mushroom.bild %}
        <a href="{{ url_for('result',  mushroom_name=mushroom.namn) }}">
          <img src="data:image/png;base64,{{ img.bild|b64encode|safe }}" alt="mushroom image">
        </a>
      {% endfor %}
        {% if mushroom.giftig == 'ja' %}
          <p> {{ mushroom.namn }} är giftig  </p>
        {% else %}
          <p> {{ mushroom.namn }} är säker att äta  </p>  
        {% endif %}
    {% endfor %}
  {% else %}
    <p>Tyvärr, inga svampar som matchar dina sökvillkor.</p>
    <img src="{{ url_for('static', filename='pics/svampar.jpg') }}" alt="null search results">
  {% endif %}
{% else %}
  <p>Välkommen! Vänligen sök efter en svamp</p>
  <img src="{{ url_for('static', filename='pics/svampar.jpg') }}" alt="welcome image">
{% endif %}




</body>
</html>

